html, body {
    box-sizing: border-box;
}
main {
    width: 760px;
    border: 1px dashed black;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 18px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

article {
    width: auto;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px;
}

article:nth-last-of-type(odd) {
    background-color: rgb(238, 238, 238);
}

.feature {
    margin-top: 20px;
}

h1 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:hover, a:active {
    color: red;
    text-decoration: underline;
}

a:visited {
    color: grey;
}